.cardsOpts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardsOpts .ant-card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--primary);
  height: 130px;
  margin: 15px;
  cursor: pointer;
}

.cardsOpts .ant-card h1, .cardsOpts .ant-card h4 {
  text-align: center;
}