html, body, #content, .ant-layout {
  background-color: #FFF ;
}

.container{
  height:100vh !important;
}

.backgroundLoad{
  background-color: #fff !important;
}

.siderColor > div{
  background-color: #000 !important;
}

.ant-menu-dark{
  background-color: #000 !important;
}

.ant-menu-dark > li{
  background-color: #000 !important;
}

.ant-menu-dark .ant-menu-item-selected{
  background-color: #007df2 !important;
}

.ant-calendar-body table {
  font-size: 1em !important;
}

html, body {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #000;
}

:root {
  --primary: #2B2D42;
  --font-size: 10px;
}

h1 { font-size: calc(var(--font-size) + 10px); }
h4 { font-size: var(--font-size); }

.ant-layout-content {
  margin: 10px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
}

.common{
  background-color: #FFF !important;
  margin-bottom: 40px;
}

.commonHeader{
  display: flex;
  flex-wrap: nowrap;
  background-color: #FFF !important;
}

.exit{  
  display: flex;
  padding-right: 3em;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.exit:hover{
  cursor: pointer;
}

.nameAccount{
  padding-right: 2em;
    font-size: 2em;
    font-family: 'Lato Light';
}

.imgLogo{
  width: 4vw !important;
  padding-bottom: 27px;
}

.logoText{
  color: #DCDB75 !important;
  font-size: 2.5vw;;
}

.labelMenu{
    font-size: 1.6em;
    font-family: 'Lato Light';
    padding: 0 1em 0 1em;
    text-align:'center';
}

.ant-layout-sider-zero-width-trigger {
  background-color: var(--primary) !important;
  top: 0 !important;
}

.ant-layout-sider-trigger, .ant-menu-submenu-title, .ant-menu-item{
    background-color: var(--primary) !important;
}

.ant-menu-item{
  padding-left: 1.5em !important;
}

.menuBlock{
  margin-top: 6.3em;
}

.menuItem{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ant-layout-sider {
  position: relative;
  z-index: 999;
  height: 100vh;
  background-color: var(--primary) !important;
}

.ant-layout-footer {
  text-align: center;
  background-color: #fff;
  color:#2B2D42;
  position: relative;
  font-size: 1.4em;
    width: 100vw;
    position: fixed;
    bottom: -1px;
    padding: 7px 50px;
}

.ant-menu-item-selected{
  background-color: #8d99ae !important;
}

.ant-breadcrumb {
  font-size: calc(var(--font-size) + 2px) !important;
}

.breadMargin {
  padding: 20px;
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.link {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

table {
  font-size: calc(var(--font-size) - 2px);
}

.pointer{
  cursor: pointer;
}

.ant-layout-header {
  height: 5vw !important;
}

.commonHeader div:first-child{
  width: 100%;
}

.commonHeader div:last-child{
  width: 34vw;
}