.header{
  background-color: #fff !important;
  height: auto !important;
}

.paddingTop{
  padding-top: 10em;
}

.iconSize{
  width: 80%;
}

.homeTitle{
  font-size: 3em;
  font-family: 'Lato Regular' !important;
}

.ant-table-thead{
  font-size: 3em !important;
  font-family: 'Lato Regular' !important;
}

.ant-table-tbody{
  font-size: 2em !important;
  font-family: 'Lato Regular' !important;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.buttonSearch{
  background-color: #157f1f;
  margin: 2em;
  color: #fff;
}