.cad {
    height: 100vh;
    background-color: #FFF !important;
}

.header{
    background-color: #FFF;
}

.contentCad{
    background-color: #FFF !important;
    text-align: center;
}

.title{
    margin: 1em 0 1em 0 !important;
}

.title p, .titleExpire{
    text-align: center;
    color:#FFF;
}

.footerCad{
    background-color: #FFF !important;
    color:#FFF !important;
    text-align: center;
}

.ant-spin-nested-loading > div > .ant-spin{
    display: flex;
}

.formCard{
    padding-top: 1em;
    width: 80%;
    background-color: #FFF;
    height: 100%;
}

.cadButton{
    background-color: #8D99AE;
    color:#FFF;
}

.form{
    padding: 1em 0 1em 0 !important;
}

.ant-form .ant-row:last-child{
    padding-top: 5em;
}

.ant-form-explain{
    font-size: 1.6em;
    font-family: 'Lato Regular';
}

.ant-confirm-title, .ant-confirm-content{
    font-size: 1.6em !important;
    font-family: 'Lato Regular' !important;
}

.titleExpire{
    margin: 23em 0 20.3em 0
}

.link{
    font-size: 1.6em !important;
    font-family: 'Lato Regular' !important;
    color:#FFF !important;
}
